<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='example.css')}}">
</head>

<body>
<div class="save-page">
  <div class="form">
    <form class="save-form" action="/save" method="POST">
      <input name="player_name" type="text" placeholder="Player Name"/>
      <input name="player_age"  type="text" placeholder="Player Age"/>
      <button class="subbtn">Save it</button>
      <p class="message">Want to search instead? <a href="/find">Search for a player</a></p>
    </form>
  </div>
</div>
</body>

</html>
